{% extends 'layout.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="col-xs-3">
        <div class="block">
            <div class="product">
                <img src="{{ asset('/assets/images/product.png') }}">
            </div>
            <div class="text-center text-info">
                <h3>{{ product.name }}</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="info">
            <span class="description">
                <ul>
                    <li>Vendore Code: {{ modification.vendorCode }}</li>
                    <li>Color: {{ modification.color }}</li>
                    <li>Size: {{ modification.size }}</li>
                    <li>test item description</li>
                </ul>
            </span>
            <div class="top-buffer">
                <h4>Price:</h4>
                <span class="price">${{ product.price }}</span>
                <a class="buy_now" href="#">Buy Now</a>
            </div>
        </div>
    </div>
{% endblock %}